.info {
  box-sizing: content-box;
  text-transform: none;
  margin: 1% 3%;
  width: 35%;
  float: left;
  color: white;
  text-align: justify;
}

.info h2 {
  color: var(--accent-color);
}

.info h5 {
  color: var(--accent-color);
}

.info .subheading {
  text-transform: capitalize;
  background-color: var(--light-color);
  padding: 8px;
  margin-bottom: 10px;
  display: flex;
  align-content: space-around;
}

.info .subheading div {
  color: var(--light-grey);
  text-align: center;
  display: inline-block;
  flex-basis: 60%;
}

/* @media (min-width: 1000px) {
  .info {
    width: 20%;
    transform: scale(0.8);
    margin: 0;
  }
} */
