html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: default;
  font-family: "Segoe UI", sans-serif;
}

.App {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
