/* commonly used styles through the project */

/* main headings */

h1 {
  color: white;
  /* text-transform: uppercase; */
  display: block;
  margin: 0;
}

/* subheadings */

h2 {
  font-size: 3em;
  color: white;
  font-weight: 100;
  margin: 3%;
  display: block;
}

/* body styles */

.content-wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  background: url("bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.content-wrapper::before {
  z-index: -1;
  content: "";
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* modal styles */

.modal {
  width: 40%;
  height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background: rgba(0, 0, 0, 0.99);
  border: 1px solid #cccccc;
}

.wrapper {
  /* overflow: hidden; */
  text-align: center;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  box-sizing: content-box;
}

i:hover {
  cursor: pointer;
}

.no-capitalize {
  text-transform: none;
}

input[type="submit"] {
  width: 10%;
  color: white;
  font-family: "avenir" sans-serif;
  background-color: var(--accent-color);
  border: none;
  padding: 10px;
  display: inline-block;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

input[type="submit"]:focus {
  outline: none;
}

@font-face {
  font-family: "avenir";
  src: url("avenir.otf");
}

@media (max-width: 1200px) {
  h2 {
    font-size: 2em;
  }

  .modal {
    height: 60%;
  }
  input[type="submit"] {
    width: 30%;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.5em;
  }

  .modal {
    height: 40%;
    width: 85%;
  }
}

@media (max-width: 360px) {
  h1,
  h2 {
    font-size: 1em;
  }

  .modal {
    height: 50%;
  }
}
