/* commonly used styles through the project */

/* main headings */

h1 {
  color: white;
  text-transform: uppercase;
  display: block;
  margin: 0;
}

/* subheadings */

h2 {
  color: white;
  font-weight: 100;
  margin: 3%;
  display: block;
}

/* body styles */

.content-wrapper {
  text-align: center;
  padding: 3%;
  position: relative;
  background: url("https://storage.googleapis.com/codeavengers.appspot.com/cloud/assets/landing-01.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* modal styles */

.modal {
  width: 40%;
  height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background: rgba(0, 0, 0, 0.95);
  border: 1px solid #cccccc;
}

.wrapper {
  overflow: hidden;
  text-align: center;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  box-sizing: content-box;
}

i:hover {
  cursor: pointer;
}

.no-capitalize {
  text-transform: none;
}

input[type="submit"] {
  width: 10%;
  color: white;
  font-family: "Segoe UI" sans-serif;
  background-color: var(--accent-color);
  border: none;
  padding: 10px;
  display: inline-block;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

input[type="submit"]:focus {
  outline: none;
}

@font-face {
  font-family: "yml-font";
  src: url("sailec.otf");
}
