button {
  color: white;
  font-family: "avenir", sans-serif;
  background-color: var(--accent-color);
  border: none;
  padding: 10px;
  margin-right: 10px;
  display: inline;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.float {
  font-weight: 800;
  position: fixed;
  bottom: 3%;
  font-size: 1.5em;
  line-height: -1em;
  right: 2%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--accent-color);
  color: white;
  transition: transform 0.5s ease-in-out;
}

.float:hover {
  background-color: var(--accent-color);
  transform: translate3d(0, -5px, 0);
}
