@import "../../variable.css";

button {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--accent-color);
  border: none;
  padding: 10px;
  margin-right: 10px;
  display: inline;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.slide {
  z-index: 0;
  position: relative;
  color: white;
  background: transparent;
  width: 10%;
  transition: color 0.5s ease-in-out;
}
.slide::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1%;
  height: 100%;
  background: var(--accent-color);
  transition: width 0.5s ease-in-out;
}
.slide:hover {
  background: transparent;
  color: black;
}

.slide:hover::before {
  width: 100%;
}

.float {
  font-weight: 800;
  position: fixed;
  bottom: 3%;
  font-size: 1.5em;
  line-height: -1em;
  right: 2%;
  width: 3%;
  height: 55px;
  border-radius: 50%;
  background-color: var(--accent-color);
  color: white;
  transition: transform 0.5s ease-in-out;
}

.float:hover {
  background-color: var(--accent-color);
  transform: translate3d(0, -5px, 0);
}
