.content-wrapper.content-overlay {
  position: relative;
  padding: 0;
  background: none;
  color: var(--light-grey);
}

.test-header {
  position: relative;
  text-align: left;
}

.test-header button {
  position: absolute;
  right: 0.5%;
  top: 50%;
  transform: translateY(-60%);
}

.overlay {
  text-transform: capitalize;
  background: #444444;
  min-height: 700px;
  position: absolute;
  top: 10%;
  width: 100%;
}

.list-view {
  position: absolute;
  top: 3%;
  left: 5%;
  width: 70%;
}

.test-preview {
  min-height: 650px;
  border-left: 1px solid var(--light-grey);
  padding-left: 2%;
  position: absolute;
  top: 2%;
  right: 0;
  width: 30%;
}

.test-preview p {
  width: 60%;
  font-size: 2em;
  text-align: center;
}

@media (max-width: 768px) {
  .overlay {
    font-size: 0.5em;
  }
}
