.test-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-item {
  flex-basis: 25%;
  align-self: center;
}

.test-questions {
  padding: 10px;
  float: left;
  height: 100%;
  background: var(--light-color);
  height: 100%;
  min-height: 870px;
  width: 15%;
}

ul {
  display: flex;
  text-align: left;
  flex-direction: column;
  align-content: space-around;
}

.question {
  padding: 2%;
  display: inline;
}

.question:hover {
  cursor: pointer;
  color: var(--accent-color);
}

.radio-btn {
  display: inline;
}

.radio-btn:hover {
  cursor: pointer;
}

select {
  display: block;
  margin: 0 auto;
  margin-bottom: 2%;
}

.middle-section {
  float: right;
  margin: 1% 2%;
}

.result {
  font-size: 1.5em;
  margin: 0 auto;
  margin-top: 3%;
  color: var(--accent-color);
}
