@import "../../variable.css";

.list-item {
  position: relative;
  list-style-type: none;
  text-align: left;
  width: 70%;
  margin-bottom: 5px;
  background-color: var(--light-color);
  color: white;
  padding: 10px;
}

.details {
  display: flex;
}

.details span {
  flex-basis: 30%;
}

.list-item i {
  position: absolute;
  top: 40%;
  right: 3%;
  font-size: 2em;
}
