@import "../../common.css";

.modal {
  /* z-index: 3; */
  width: 40%;
  height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background: rgba(0, 0, 0, 0.95);
}

.wrapper {
  text-align: center;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.wrapper button {
  width: 20%;
  margin-top: 3%;
}

.wrapper h2 {
  position: relative;
  font-size: 3em;
}

.wrapper img {
  position: absolute;
  top: -95%;
  border: none;
  right: -5%;
  width: 25px;
  height: 25px;
}

.wrapper img:hover {
  cursor: pointer;
}
