@import "../../common.css";

.big-modal {
  z-index: 3;
  width: 50%;
  height: 60vh;
}

.big-modal i {
  position: absolute;
  top: -50px;
  right: 0;
  font-size: 0.7em;
}

p {
  color: #999999;
  display: inline-block;
}

select {
  background: transparent;
  color: #999999;
  margin-left: 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
}

option {
  color: black;
}
