@import "../../common.css";

.big-modal {
  z-index: 3;
  width: 80%;
  height: 80vh;
}

.big-modal img {
  top: -100px;
}

p {
  color: #999999;
  display: inline-block;
}

select {
  background: transparent;
  color: #999999;
  margin-left: 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
}

option {
  color: black;
}
