@import "../../common.css";

.wrapper button {
  width: 20%;
  margin-top: 3%;
}

.wrapper h2 {
  position: relative;
  font-size: 3em;
}

.warpper i {
  position: absolute;
  top: -50px;
  right: -2%;
  font-size: 0.7em;
}

.wrapper img:hover {
  cursor: pointer;
}
