@import "../../common.css";

.wrapper button {
  width: 20%;
  margin-top: 3%;
}

.wrapper h2 {
  position: relative;
  font-size: 3em;
}

h2 i {
  position: absolute;
  top: 0px;
  right: 0;
  font-size: 0.1em;
}
