@import "../../common.css";

.wrapper button {
  width: 20%;
  margin-top: 3%;
}

.wrapper h2 {
  position: relative;
  font-size: 3em;
}

.wrapper img {
  position: absolute;
  top: -10px;
  border: none;
  right: -2%;
  width: 25px;
  height: 25px;
}

.wrapper img:hover {
  cursor: pointer;
}
